<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>
          We are a medicines delivery company committed to providing the highest
          quality services to our customers.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p><i class="fas fa-map-marker-alt"></i> India</p>
        <p><i class="fas fa-phone-alt"></i> +91 7245678900</p>
        <p><i class="fas fa-envelope"></i> info@medicinesdelivery.com</p>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul class="social-media">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Medicines Delivery. All Rights Reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="links">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
